.cta{
	border-radius: 50px;
        @include horizontal-gradient(rgb(73,0,124), rgb(231,0,136));
  	width: 205px;
  	height: 50px;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
	margin-top: 20px;
	a{
		color: $colorWhite;
		font-size: $font-body;
		&:hover{
			text-decoration: none;
		}
	}
	&:hover{
		@include horizontal-gradient(rgb(231,0,136), rgb(73,0,124));
	}
}