header{
	z-index: 2;
	height: 80px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	background-color: transparent;
	position:absolute;
      	left: 0;
      	right: 0;
	.title{
		font-weight: lighter;
		float: left;
		line-height: 80px;
		padding-left: 15px;
		@include breakpoint(md){
			padding-left: 0;
		}
	}
	.menu{
		font-size: $heading2;
		float: right;
		line-height: 80px;
		padding: 5px 20px;
		@include breakpoint(md){
			display: none;
		}
	}
}